@import "../variables";

.advantages {
  margin: 0;
  padding: 0;
  background-color: $color-grey;
  grid-column: 1 / -1;
}

.advantages__title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  &::after {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    margin-top: 11px;
    margin-bottom: 16px;
  }

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;

    &::after {
      margin-bottom: 21px;
    }
  }
}

.advantages__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  max-width: 290px;
  margin: 0 auto;
}

.advantages__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.advantages--real-town {
  background-color: $color-blue;
  color: $color-white;

  .advantages__title {
    padding-top: 35px;
    padding-left: 18px;
    padding-right: 20px;

    &::after {
      content: "— №1 —";
    }
  }

  .advantages__description {
    padding: 0 20px 39px 18px;
  }

  @media (max-width: $mobile-width-only) {
    &::before {
      display: block;
      content: url("../../img/white-triange.svg");
      height: 37px;
      text-align: center;
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;

    .advantages__title {
      grid-column: 1;
      grid-row: 1;
      padding: 40px 32px 0;
    }

    .advantages__description {
      grid-column: 1;
      grid-row: 2;
      padding: 0 32px 43px;
    }

    .advantages__image-wrapper {
      grid-column: 2;
      grid-row: 1 / span 2;
    }

    .advantages__features-list {
      grid-column: 1 / -1;
      padding-top: 41px;
      padding-bottom: 58px;
    }
  }

  @media (min-width: $desktop-width) {
    .advantages__title {
      padding-top: 47px;

      &::after {
        margin-bottom: 12px;
      }
    }
  }
}

.advantages--devils-bridge {
  background-color: $color-blue;
  color: $color-white;

  .advantages__title {
    padding: 39px 15px 0 16px;

    &::after {
      content: "— №2 —";
    }
  }

  .advantages__description {
    padding: 0 15px 35px 16px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;

    .advantages__title {
      grid-column: 2;
      grid-row: 1;
      padding: 43px 36px 0;
    }

    .advantages__description {
      grid-column: 2;
      grid-row: 2;
      padding: 0 36px 41px;
    }

    .advantages__image-wrapper {
      grid-column: 1;
      grid-row: 1 / span 2;
    }
  }

  @media (min-width: $desktop-width) {
    .advantages__title {
      padding-top: 54px;

      &::after {
        margin-bottom: 10px;
      }
    }

    .advantages__description {
      padding-left: 85px;
      padding-right: 85px;
    }
  }
}

.advantages--compact-area {
  padding: 26px 20px 0;

  .advantages__title::after {
    content: "— №3 —";
  }

  .advantages__description {
    padding-bottom: 24px;
    border-bottom: 1px solid $color-grey-darker;

    @media (min-width: $tablet-width) {
      border-bottom: unset;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: unset;
    padding-top: 43px;
    padding-bottom: 42px;
  }
}

.advantages--beautiful-road {
  padding: 26px 20px 0;

  .advantages__title::after {
    content: "— №4 —";
  }

  .advantages__description {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 24px;
    border-bottom: 1px solid $color-grey-darker;

    @media (min-width: $tablet-width) {
      border-bottom: unset;
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: unset;
    padding-top: 43px;
  }
}

.advantages--few-tourists {
  padding: 26px 26px 24px;

  .advantages__title::after {
    content: "— №5 —";
  }

  @media (min-width: $tablet-width) {
    grid-column: unset;
    padding-top: 43px;

    .advantages__description {
      padding-left: 20px;
      padding-right: 20px;

      br {
        display: none;
      }
    }
  }
}
