@import "../variables";

.features {
  background-color: $color-white;
  color: $color-black;
  padding: 0 21px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}

.features__item {
  display: grid;
  grid-template-columns: 49px auto;
  padding-top: 15px;
  align-items: flex-end;

  @media (max-width: $mobile-width-only) {
    &:first-child {
      padding-top: 25px;
    }

    &:last-child {
      padding-bottom: 38px;
    }
  }

  &::before {
    display: block;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 100%;
    grid-template-rows: 75px 78px auto;
  }

  @media (min-width: $desktop-width) {
    min-height: 216px;
  }
}

.features__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    text-align: center;
    padding: 26px 0 26px;
  }
}

.features__description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  grid-column: 2 / -1;
  padding-top: 15px;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: 1;
    padding-top: 0;
    text-align: center;
    align-self: flex-start;
  }
}

.features__item--accommodation {
  .features__description {
    @media (min-width: $tablet-width) {
      padding-left: 36px;
      padding-right: 36px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  &::before {
    content: "";
    background-image: url("../../img/icon-house.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 39px;
    height: 37px;

    @media (min-width: $tablet-width) {
      width: 75px;
      height: 72px;
      margin: 0 auto;
    }
  }
}

.features__item--souvenirs {
  .features__description {
    @media (min-width: $tablet-width) {
      padding-left: 31px;
      padding-right: 32px;

      br {
        display: none;
      }
    }

    @media (min-width: $desktop-width) {
      br {
        display: inline;
      }
    }
  }

  &::before {
    content: "";
    background-image: url("../../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 32px;
    height: 38px;

    @media (min-width: $tablet-width) {
      width: 64px;
      height: 75px;
      margin: 0 auto;
    }
  }

  @media (min-width: $tablet-width) {
    order: 3;
  }
}

.features__item--food {
  .features__description {
    @media (min-width: $tablet-width) {
      padding-left: 38px;
      padding-right: 38px;
    }
  }

  &::before {
    content: "";
    background-image: url("../../img/icon-burger.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 35px;

    @media (min-width: $tablet-width) {
      width: 76px;
      height: 68px;
      margin: 0 auto;
    }
  }
}
