@import "../variables";

.introduction {
  grid-column: 1 / -1;
  max-width: 520px;
  margin: 0 auto;
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 42px;
  }
}

.introduction__title {
  margin: 0;
  padding-top: 32px;
  padding-left: 12px;
  padding-right: 18px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding-top: 44px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 54px;
  }
}

.introduction__description {
  margin: 0;
  padding: 32px 18px 0 17px;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}
