@import "../variables";

.socials {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.socials__item:not(:last-child) {
  margin-right: 6px;
}

.socials__link {
  display: flex;
  width: 46px;
  height: 48px;
  background-color: $social-background-color;
  justify-content: center;
  align-items: center;
  fill: $social-color;

  &:hover {
    background-color: $social-hover-background-color;
  }

  &:active {
    background-color: $social-down-background-color;
    fill: $social-down-color;
  }
}
