@import "../variables";

.video {
  padding: 32px 0 49px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.video__title {
  margin: 0;
  padding: 0 28px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 28px;
  }
}

.video__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: $color-primary;
  padding: 24px 38px 33px;
  max-width: 445px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-top: 33px;
    padding-bottom: 81px;
  }
}
