.banner {
  position: relative;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 389px;

  &::after {
    position: absolute;
    content: "";
    display: block;
    background-image: url("../img/intro-triangle.svg");
    width: 100%;
    height: 57px;
    bottom: -1px;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

.banner__image {
  padding-top: 90px;
  margin: auto;
}
