@import "variables.scss";

.find-hotel {
  padding: 37px 20px 49px;
  max-width: 498px;
  margin: 0 auto;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    padding-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 65px;
  }
}

.find-hotel__title {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    font-weight: bold;
    font-size: 30px;
    line-height: 26px;

    br {
      display: none;
    }
  }
}

.find-hotel__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 22px;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 32px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.find-hotel__button {
  display: block;
  padding: 14px 0 16px;
  margin-top: 27px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 28px;
  color: $blue-button-color;
  background-color: $blue-button-background-color;

  &:hover {
    background-color: $blue-button-hover-background-color;
  }

  &:active {
    color: $blue-button-down-color;
    background-color: $blue-button-down-background-color;
  }

  @media (min-width: $tablet-width) {
    margin-top: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 44px;
  }
}
