@import "variables.scss";

.find-hotel {
  padding: 33px 20px 49px;
  max-width: 498px;
  box-sizing: border-box;
  margin: 0 auto;
  grid-column: 1 / -1;
}

.find-hotel__title {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.find-hotel__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.find-hotel__button {
  display: block;
  background-color: $color-blue;
  color: $color-white;
  padding: 14px 32px 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 28px;
  margin-top: 27px;
}
