@import "variables.scss";

.gallery {
  padding-top: 32px;
}

.gallery__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.gallery__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 20px 12px;
}

.gallery__item {
  padding: 22px 20px 20px;
  border-top: 1px solid $color-border;

  &:last-child {
    border-bottom: 1px solid $color-border;
  }
}

.gallery__photo {
  margin: auto;
}

.gallery__post {
  margin-top: 11px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.gallery__author {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $color-primary;
}

.gallery__likes {
  display: flex;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 10px;

  &::before {
    display: block;
    content: url("../img/like-icon.svg");
    width: 23px;
    height: 21px;
    margin-right: 14px;
  }
}
