@import "variables.scss";

.main-nav__list {
  width: 100%;
  position: absolute;
  z-index: 2;
  background-color: $color-blue;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    background-color: initial;
    color: $color-blue;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.main-nav__list-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0 5px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  &:first-child {
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);

    @media (min-width: $tablet-width) {
      box-shadow: unset;
    }
  }

  a {
    color: $color-white;
    text-decoration: none;

    @media (min-width: $tablet-width) {
      color: $color-black;
    }
  }

  @media (min-width: $tablet-width) {
    width: 20%;
    font-size: 14px;
    line-height: 26px;
    box-shadow: unset;

    &:nth-child(3) {
      margin-left: auto;
    }
  }
}

.main-nav__button {
  position: absolute;
  z-index: 3;
  top: 17px;
  right: 17px;
  width: 22px;
  height: 22px;
  border: 0 none;
  background-repeat: no-repeat;
  background-position: center;

  &--open {
    background-image: url("../img/icon-menu.svg");
  }

  &--close {
    background-color: $color-blue;
    background-image: url("../img/icon-cross.svg");
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed {
  .main-nav__button--close {
    display: none;
  }

  .main-nav__list-item {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}

.main-nav--opened {
  .main-nav__button--open {
    display: none;
  }
}
