@import "variables.scss";

.page-header {
  min-height: 56px;
  position: relative;
}

.page-header__logo {
  position: absolute;
  transform: translateX(-50%);
  top: 0;
  left: 50%;
  z-index: 1;

  img {
    width: 102px;
    height: 84px;

    @media (min-width: $desktop-width) {
      width: 187px;
      height: 97px;
    }
  }
}
