@import "variables.scss";

.page-footer {
  text-align: center;
  padding-top: 28px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 119px;
    padding-right: 113px;
  }
}

.page-footer__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.page-footer__socials-list {
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.page-footer__copyright {
  margin-top: 37px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.page-footer__copyright-text {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.page-footer__copyright-link {
  display: block;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  fill: $color-black;

  &:hover {
    fill: $color-blue;
  }

  &:active {
    fill: rgba($color-black, 0.3);
  }
}
