.page-header {
  min-height: 56px;
  position: relative;
}

// todo: ask mentor how fix issue with no js menu
.page-header__logo {
  position: absolute;
  transform: translateX(-50%);
  top: 0;
  left: 50%;
  z-index: 1;
}
