@import "variables.scss";

.player {
  position: relative;
  margin-bottom: 66px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.player__image {
  width: 100%;
}

.player__controls {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  bottom: -66px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 100%;
    bottom: 0;
  }
}

.player__slider {
  position: relative;
  height: 45px;
  background:
    url("../img/volume-scale.svg") no-repeat center,
    rgba($color-black, 0.6);

  @media (min-width: $tablet-width) {
    background-image: url("../img/volume-scale-tablet.svg");
    background-position: 93px center;
    height: 93px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/volume-scale-desktop.svg");
  }
}

.player__slider-knob {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 50%;
  left: 76px;
  transform: translateY(-50%);
  background-image: url("../img/volume-slider.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    left: 204px;
  }
}

.player__buttons {
  display: flex;
  align-items: center;
  height: 66px;
  width: 100%;
  background-color: $color-controls;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 0;
    top: 0;
    background-color: unset;
    height: 93px;
  }
}

.player__button {
  border: 0 none;
  padding: 0;

  &__replay {
    width: 16px;
    height: 20px;
    margin-left: 25px;

    @media (min-width: $tablet-width) {
      margin-left: 35px;
    }
  }

  &__subtitles {
    width: 32px;
    height: 20px;
    margin-left: auto;
    margin-right: 31px;
  }

  &__fullscreen {
    width: 20px;
    height: 20px;
    margin-right: 23px;

    @media (min-width: $tablet-width) {
      margin-right: 41px;
    }
  }

  @media (min-width: $tablet-width) {
    background-color: unset;
  }
}

.player__button-icon {
  fill: #5c6870;

  @media (min-width: $tablet-width) {
    fill: $color-white;
  }
}
