@import "variables.scss";

.socials {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 6px;
}

.socials__link {
  display: block;
  width: 46px;
  height: 48px;
  font-size: 0;
  background-color: $color-blue;
  background-repeat: no-repeat;
  background-position: center;

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }

  &--facebook {
    background-image: url("../img/icon-facebook.svg");
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
  }
}
